<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta name="theme-color" content="#317EFB"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{url_for('static', filename='icons/image.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/sw.js").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
            });
        });
        }
    </script>

</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="signin">
                <h2>Sign In</h2>
                <form method="POST">
                    <input type="hidden" name="action" value="login">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Sign In</button>
                </form>
            </div>

            <div class="signup">
                <h2>Sign Up</h2>
                <form method="POST">
                    <input type="hidden" name="action" value="signup">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Create Account</button>
                </form>
            </div>

            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</body>
</html>
